@model List<Transmitter>


<h1>Transmitters</h1>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">BSSID</th>
            <th scope="col">Name</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>@item.Bssid</td>
                <td>@item.Name</td>
                <td>@item.Longitude</td>
                <td>@item.Latitude</td>
                <td align="right" width="20%">
                    <a class="btn btn-primary" asp-controller="Transmitters" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a data-bs-target="#deleteModal" data-bs-toggle="modal" class="btn btn-danger deleteItem"
                       data-path="@Url.Action("Delete", "Transmitters", new { id = @item.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Transmitters" asp-action="Add">Add New Transmitter</a>



<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Transmitter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this transmitter ?</p>
            </div>
            <div class="modal-footer">
                <button id="btnContinueDelete" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
